{% set page_dark = true %}
{% set header_show = true %}
{% set header_title = 'We create <em>everything</em> digital, <br> printable, minimal, visual <br><em>and analytical.</em>' %}
{% set header_text = '
<div class="row vertical-gap md-gap align-items-center">
    <div class="col-md-12">
        <a class="nk-video-fullscreen-toggle" href="https://www.youtube.com/watch?v=aF9vyPytuzQ">
            <span class="nk-video-icon-2-light"><span><span class="nk-play-icon"></span></span></span>
        </a>
    </div>
</div>
' %}
{% set header_bg_video = 'https://www.youtube.com/watch?v=_FMSWTdCsgI' %}
{% set header_size = 'full' %}
{% set nav_sticky = true %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_white_text_on_top = true %}
{% set nav_in_container = false %}
{% extends 'layouts/layout-index.html' %}

{% block content %}

{% endblock %}
