{% set header_show = true %}
{% set header_title = 'Dark Fullscreen' %}
{% set header_text = '
<div class="row vertical-gap md-gap align-items-center">
    <div class="col-md-8">
        <div class="text-left">
            <h2 class="nk-subtitle text-white">Skylith Business</h2>
            <h1 class="text-white">We Grow Up your Business</h1>
            <div class="nk-gap"></div>
            <p class="text-white">We are a new Digital Agency based in USA. We have over 10 years of combined experience, and know a thing or two about designing websites and mobile apps.</p>
            <div class="nk-gap"></div>
            <a class="nk-btn nk-btn-color-main mr-20" href="#">Get in Touch</a> <a class="nk-btn nk-btn-outline nk-btn-color-white" href="#">Buy Theme</a>
        </div>
    </div>
    <div class="col-md-4">
        <a class="nk-video-fullscreen-toggle" href="https://www.youtube.com/watch?v=aF9vyPytuzQ">
            <span class="nk-video-icon-2-light"><span><span class="nk-play-icon"></span></span></span>
        </a>
    </div>
</div>
' %}
{% set header_bg_video = 'https://www.youtube.com/watch?v=_FMSWTdCsgI' %}
{% set header_size = 'full' %}
{% set nav_sticky = true %}
{% set nav_opaque = false %}
{% set nav_transparent = true %}
{% set nav_white_text_on_top = true %}
{% set nav_in_container = false %}
{% extends 'layouts/layout-creative-agency-2.html' %}

{% block content %}

{% endblock %}
